In [1]:
import pymysql
import pandas as pd

In [6]:
pip install cryptography

Requirement already satisfied: cryptography in c:\users\15145\miniconda3\envs\pycaret_env\lib\site-packages (39.0.2)
Requirement already satisfied: cffi>=1.12 in c:\users\15145\miniconda3\envs\pycaret_env\lib\site-packages (from cryptography) (1.15.1)
Requirement already satisfied: pycparser in c:\users\15145\miniconda3\envs\pycaret_env\lib\site-packages (from cffi>=1.12->cryptography) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [3]:
conn = pymysql.connect(host='localhost', user='root', password='Aman@5529', database='atliq_data_kaggle')

In [4]:
query = 'show tables; '
df = pd.read_sql(query, conn)

C:\Users\15145\AppData\Local\Temp\ipykernel_28916\2898452327.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [5]:
df

  Tables_in_atliq_data_kaggle
0                dim_customer
1                 dim_product
2            fact_gross_price
3     fact_manufacturing_cost
4           fact_pre_discount
5          fact_sales_monthly
6                 merged_data
7                  profit_agg
8           quantity_sold_agg
9                 revenue_agg

In [10]:
from sqlalchemy import create_engine, inspect

# Create an SQLAlchemy engine object
engine = create_engine('mysql+pymysql://root:Aman@5529@localhost/atliq_data_kaggle')

# Create an Inspector object
inspector = inspect(engine)

# Get a list of all table names
table_names = inspector.get_table_names()

# Check if a table exists
if 'fact_gross_price' in table_names:
    print('yes')
else:
    print('no')

yes

In [11]:
df1 = pd.read_sql(query, engine)
df1

  Tables_in_atliq_data_kaggle
0                dim_customer
1                 dim_product
2            fact_gross_price
3     fact_manufacturing_cost
4           fact_pre_discount
5          fact_sales_monthly
6                 merged_data
7                  profit_agg
8           quantity_sold_agg
9                 revenue_agg

In [12]:
query = "select fiscal_year, annual_revenue_pct_change from revenue_agg"

df_revenue_change = pd.read_sql_query(query, engine)
df_revenue_change

   fiscal_year  annual_revenue_pct_change
0         2018                        NaN
1         2019                     128.93
2         2020                      96.93
3         2021                      86.43
4         2022                      58.95

In [13]:
import numpy as np

df_revenue_change.replace(np.nan, 0)

   fiscal_year  annual_revenue_pct_change
0         2018                       0.00
1         2019                     128.93
2         2020                      96.93
3         2021                      86.43
4         2022                      58.95

In [14]:
df_revenue_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   fiscal_year                5 non-null      int64
 1   annual_revenue_pct_change  4 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 208.0 bytes